pipeline/Dynamic Pipeline.json
{
	"name": "Dynamic Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get a list of tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT QUOTENAME(t.name) AS tableName, QUOTENAME(SCHEMA_NAME(t.schema_id)) AS schemaName from sys.tables as t",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsGenericAzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"dsDbNme": {
								"value": "@pipeline().parameters.pipDbName",
								"type": "Expression"
							},
							"dsSrvrNme": {
								"value": "@pipeline().parameters.pipSrvrNme",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "iterate over tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get a list of tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get a list of tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ',item().schemaName,'.',item().tablename)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsGenericAzureSqlTable",
									"type": "DatasetReference",
									"parameters": {
										"dsDbNme": {
											"value": "@pipeline().parameters.pipDbName",
											"type": "Expression"
										},
										"dsSrvrNme": {
											"value": "@pipeline().parameters.pipSrvrNme",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsGenericAdlsG2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"parameters": {
			"pipSrvrNme": {
				"type": "string",
				"defaultValue": "sqltesta.database.windows.net"
			},
			"pipDbName": {
				"type": "string",
				"defaultValue": "AdventureWorks"
			}
		},
		"annotations": []
	}
}